[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nextstrain-cli = ">=2.0.0"
csv-diff = ">=0.6"
fsspec = "*"
pandas = ">=1.0.1"
s3fs = "*"
biopython = "*"
regex = "*"

[requires]
python_version = "3.6"
