name: Update image

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths:
      - Dockerfile
      - .dockerignore
      - Pipfile
      - Pipfile.lock
      - package.json
      - yarn.lock
      - .github/workflows/update-image.yml

  # Manually triggered using bin/trigger update-image
  repository_dispatch:
    types: update-image

  # Manually triggered using GitHub's UI
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          username: nextstrainbot
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Describe git revision for image build arg
        run: |
          echo "GIT_REVISION=$(git describe --always --long --dirty)" | tee -a "$GITHUB_ENV"

      - name: Determine image tag
        run: |
          if [[ "$GITHUB_REF_NAME" == master ]]; then
            IMAGE_TAG=latest
          else
            IMAGE_TAG="branch-${GITHUB_REF_NAME//[^A-Za-z0-9._-]/-}"
          fi
          echo "IMAGE_TAG=$IMAGE_TAG" | tee -a "$GITHUB_ENV"

      - uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: nextstrain/ncov-ingest:${{ env.IMAGE_TAG }}
          cache-from: |
            type=registry,ref=nextstrain/ncov-ingest:latest
            type=registry,ref=nextstrain/ncov-ingest:${{ env.IMAGE_TAG }}
          cache-to: type=inline,mode=max
          build-args: |
            GIT_REVISION=${{ env.GIT_REVISION }}
